*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.web-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    height: 95vh;
    width: 90vw;
}
.navbar{
    width: 85vw;
    padding: 0px 5px;
    position: relative;
    bottom: 50px;
}
.navbar span{
    color: darkblue;
    background-color: rgb(255, 255, 255);
    font-size: large;
    height: 50px;
    width: 80px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin: 5px;
    cursor: pointer;
}
.navbar span:hover{
    background-color: rgb(196, 204, 204) ;
    box-shadow: 0px 0px 5px 2px rgb(221, 222, 226);
}
.google{
    height: 250px;
    width: 400px;
    background-color: white;
    z-index: 1;
    display: flex;
}
.search{
    height: 40px;
    width: 440px;
    border-radius: 30px;
    margin: 20px;
    display: flex;
    align-items: center ;
    justify-content: center ;
    padding: 2px 5px;
    box-shadow: 0px 0px 5px 2px rgb(202, 198, 198);
}
.search-ip{
    padding: 5px;
    margin: 10px;
    width: 320px;
    border: none;
    outline: none;
}
.home-screen{
    display: grid;
    margin: 20px;
    height: 150px;
    width: 300px;
    padding: 5px;
    position: relative;
    left: 10px;
}
.home-screen span{
    height: 50px;
    width: 50px;
    padding: 5px;
    border: none;
    border-radius: 10px;
    margin: 10px;
}
.home-screen span:hover{
    box-shadow: 0px 0px 5px 2px grey;
    background-color: rgba(243, 232, 232, 0.918);
}
.one{
    grid-column: 1/2;
    grid-row: 1/2;
}
.two{
    grid-column: 2/3;
    grid-row: 1/2;
}
.three{
    grid-column: 3/4;
    grid-row: 1/2;
}
.one{
    grid-column: 1/2;
    grid-row: 2/3;
}
.two{
    grid-column: 2/3;
    grid-row: 2/3;
}
.three{
    grid-column: 3/4;
    grid-row: 2/3;
}