*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.right{
    background-image: linear-gradient(to right, #e00c21, #eceb72, #98edf2, #73f8b1, #da98f2) ;
    right: 50px;
}
.left{
    background-image: linear-gradient(to left, #e00c21, #eceb72, #98edf2, #73f8b1, #da98f2) ;
    left: 50px;
}
.left, .right{
    position: relative;
    height: 100px;
    width: 300px;
    bottom: 0px;
}

.top{
    background-image: linear-gradient(to bottom, #e00c21, #eceb72, #98edf2, #73f8b1, #da98f2) ;
    bottom: 200px;
    right: 350px;
}
.bottom{
    background-image: linear-gradient(to top, #e00c21, #eceb72, #98edf2, #73f8b1, #da98f2) ;
    top: 200px;
    right: 450px;
}
.top, .bottom{
    position: relative;
    width: 100px;
    height: 300px;
}

.rightGrow{
    animation: right_color .5s linear 0s infinite;
}
.leftGrow{
    animation: left_color .5s linear 0s infinite;
}
.topGrow{
    animation: top_color .5s linear 0s infinite;
}
.bottomGrow{
    animation: bottom_color .5s linear 0s infinite;
}

#btn{
    position: relative;
    background-color: rgb(108, 209, 125);
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border: none;
    box-shadow:  inset 3px 3px 4px rgb(222, 247, 202), 5px 5px 4px rgb(164, 165, 164);
    right: 537.5px ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    cursor: pointer;
    font-size: 13px;
}
#btn:active{
    background-color: rgb(76, 168, 91);
    box-shadow:  inset 3px 3px 4px rgb(222, 247, 202), 5px 5px 4px rgb(164, 165, 164);
    transform: translateY(2px);
}

@keyframes right_color{
    0% {
        background-image: linear-gradient(to right, #e00c21, #eceb72, #98edf2, #73f8b1, #da98f2) ;
    }
    20% {
        background-image: linear-gradient(to right, #da98f2, #e00c21, #eceb72, #98edf2, #73f8b1) ;
    }
    40% {
        background-image: linear-gradient(to right, #73f8b1, #da98f2, #e00c21, #eceb72, #98edf2) ;
    }
    60% {
        background-image: linear-gradient(to right, #98edf2, #73f8b1, #da98f2, #e00c21, #eceb72) ;
    }
    80% {
        background-image: linear-gradient(to right, #eceb72, #98edf2, #73f8b1, #da98f2, #e00c21) ;
    }
    100% {
        background-image: linear-gradient(to right, #e00c21, #eceb72, #98edf2, #73f8b1, #da98f2) ;
    }
}
@keyframes left_color{
    0% {
        background-image: linear-gradient(to left, #e00c21, #eceb72, #98edf2, #73f8b1, #da98f2) ;
    }
    20% {
        background-image: linear-gradient(to left, #da98f2, #e00c21, #eceb72, #98edf2, #73f8b1) ;
    }
    40% {
        background-image: linear-gradient(to left, #73f8b1, #da98f2, #e00c21, #eceb72, #98edf2) ;
    }
    60% {
        background-image: linear-gradient(to left, #98edf2, #73f8b1, #da98f2, #e00c21, #eceb72) ;
    }
    80% {
        background-image: linear-gradient(to left, #eceb72, #98edf2, #73f8b1, #da98f2, #e00c21) ;
    }
    100% {
        background-image: linear-gradient(to left, #e00c21, #eceb72, #98edf2, #73f8b1, #da98f2) ;
    }
}
@keyframes top_color{
    0% {
        background-image: linear-gradient(to bottom, #e00c21, #eceb72, #98edf2, #73f8b1, #da98f2) ;
    }
    20% {
        background-image: linear-gradient(to bottom, #da98f2, #e00c21, #eceb72, #98edf2, #73f8b1) ;
    }
    40% {
        background-image: linear-gradient(to bottom, #73f8b1, #da98f2, #e00c21, #eceb72, #98edf2) ;
    }
    60% {
        background-image: linear-gradient(to bottom, #98edf2, #73f8b1, #da98f2, #e00c21, #eceb72) ;
    }
    80% {
        background-image: linear-gradient(to bottom, #eceb72, #98edf2, #73f8b1, #da98f2, #e00c21) ;
    }
    100% {
        background-image: linear-gradient(to bottom, #e00c21, #eceb72, #98edf2, #73f8b1, #da98f2) ;
    }
}
@keyframes bottom_color{
    0% {
        background-image: linear-gradient(to top, #e00c21, #eceb72, #98edf2, #73f8b1, #da98f2) ;
    }
    20% {
        background-image: linear-gradient(to top, #da98f2, #e00c21, #eceb72, #98edf2, #73f8b1) ;
    }
    40% {
        background-image: linear-gradient(to top, #73f8b1, #da98f2, #e00c21, #eceb72, #98edf2) ;
    }
    60% {
        background-image: linear-gradient(to top, #98edf2, #73f8b1, #da98f2, #e00c21, #eceb72) ;
    }
    80% {
        background-image: linear-gradient(to top, #eceb72, #98edf2, #73f8b1, #da98f2, #e00c21) ;
    }
    100% {
        background-image: linear-gradient(to top, #e00c21, #eceb72, #98edf2, #73f8b1, #da98f2) ;
    }
}
